@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  #app {
    padding: 0;
  }
}
